.bingo-box {
  width: max-content;
  height: 350px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  display: flex;
  padding: 10px;
}

.group-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 25em;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-box {
  border: 2px solid black;
  width: 2em;
  height: 2em;
  font-size: 20px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.column {
  display: flex;
}

.number-column {
  display: flex;
  flex-direction: column;
}

.letter-column {
  margin-right: 10px;
  text-align: center;
}

.bingo-buttons {
  margin-top: 10px;
}

.selected {
  background-color: lightgrey;
}
